tab{padding-left: 5em; }

input[type="button"]{
	background: #15AAE6; width: 7em; color: white;
}
input[type="radio"]{

}

#gist-list{
	background-color: #149189;
	float: left;
    
}
#fav{
	float: right;
}
#favorite-list{
	background-color: #B561D4;
    
    float: right;
}
dl{
	float: top;
}

a:visited{
  color:green;
}

a:link{
	color:blue;
	}